
.calculator-body {
    height: 380px;
    width: 350px;
    background-color: #3D3D5C;
    margin: 80px auto;
    border-radius: 20px;
  }
  .screen {
    margin: 30px 15px;
    width: 300px;
    height: 40px;
    text-align: right;
    padding-right: 10px;
    font-size: 30px;
    background-color: #A1AF77;
    margin-top: 50px;
  }
  .button-container {
   height: 200px;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
  }
  .btn {
    width: 50px;
    text-align: center;
    padding: 3px 0;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    cursor: pointer;
  }
  .btn:hover {
    box-shadow: 0 0 5 px 0 #fff;
    transition: 0.5s;
  }
   .btn-equal {
     height: 70px;
     background-color: deepskyblue;
     color: black;
  }
  .btn-1 {
    background-color: tomato;
  }
  .btn-2 {
    background-color: deepskyblue;
  }